<section class="orders-show">

  <header class="page-header">
  <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Line Total</th>
        </tr>
      </thead>
      <tbody>
        <% @lineitem.each do |item| %>
            <%= render 'order', product: Product.find(item[:product_id]), quantity: item[:quantity].to_i%>
          <% end %>
      </tbody>
      <tfooter>
        <th>
          Total: $<%= @order[:total_cents] / 100.0 %>
        </th>
        <th>
          Email: <%= @order[:email]%>
        </th>
      </tfooter>
    </table>
  </div>
</section>

